# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/

# IDE files
.idea/
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Log files
*.log

# Environment variables
.env

# Jupyter Notebook
.ipynb_checkpoints

# Pyenv
.python-version

# Coverage reports
.coverage
*.cover
*.py,cover

# Build directories
build/
dist/
*.egg-info/
.eggs/
